.app {
    display: grid;
    margin: 3rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 55vh auto auto;
    gap: 3rem;
}

.header {
    grid-column: 1/2;
    grid-row: 1/ 2;
}

.loader{
    grid-column: 1/-1;
    grid-row: 1/ -1;
}

.stats-boxes{
    grid-column: 1/2;
    grid-row: 2/ 3;
}

.map{
    grid-column: 1/2;
    grid-row: 3/ 4;
}

.stats-table{
    grid-column: 2/-1;
    grid-row: 1/ 4;
}

.info{
    grid-column: 1/-1;
    grid-row: 4/ 5;
}

.footer {
    grid-column: 1/-1;
    grid-row: 5/ 6;
}

@include respond(small-desktop){
    .header {
        grid-column: 1/-1;
    }

    .stats-boxes{
        grid-column: 1/-1;
    }

    .map{
        grid-column: 1/-1;
    }

    .stats-table{
        grid-column: 1/-1;
        grid-row: 4/ span 1
    }

    .info{
        grid-row: 5/ 6;
    }

    .footer {
        grid-row: 6/ 7;
    }

}