.stats-table {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba($color-black, .2);
    background-color: #fff;
    border-radius: .6rem;
    padding: .5rem 1rem;
    overflow-y: scroll;
    height: 93vh;

    &--header {
        font-size: 1.8rem;
        color: $color-grey;
        margin: 1rem 0;
    }

    &--pagination{
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        transition: all .3s;
        margin: .5rem;
        align-self: center;

        button {
            background-color: #EDEDED;
            padding: .5rem 1rem;
            border-radius: 3rem;
            font-style: inherit;
            font-weight: 800;
            color: #494949;
            border: none;
            outline: none;

            &:not(:last-child){
                margin-right: 2rem;
            }

            &:hover{
                transform: scale(1.1);
                cursor: pointer;
                outline: none;
            }

            &:disabled{
                cursor: default;
                transform: scale(1);
                color: #A4A4A4;
            }
        }
    }

    @include respond(small-desktop){
        height: 75vh;
    }
}

.table {
    width: 100%;
    color: $color-grey;
    font-size: 1.4rem;
    flex: 1;

    input {
        width: 99%;
        padding: .6rem;
        margin-bottom: .8rem;
        font-style: inherit;
        color: $color-grey;
        font-weight: bold;
        border: 1.5px solid $color-grey-light;
        outline: none;
        border-radius: 1rem;
        transition: all .2s;

        &::placeholder {
            font-style: italic;
            color: $color-grey-light;
        }

        &:focus{
            border: 2px solid $color-grey-light;
            outline: none;
            transform: scaleX(1.02);
        }
    }

    tbody {
        tr {
            td {
                padding: .8rem 0;
                padding-left: 1rem;
                margin-right: 0;
            }

            &:nth-child(odd) {
                background-color: #f3f2f8;
            }

            >:nth-child(2) {
                font-weight: bold;
            }
        }
    }
}